name: JDC-ER1-Build

on:
workflow_dispatch:
inputs:
BRANCH:
description: '源码分支'
default: 'main'
required: true
type: string
TEST:
description: '仅生成配置文件，不编译'
default: false
required: true
type: boolean

permissions: write-all

jobs:
build:
name: JDC-ER1-Qualcommax
runs-on: ubuntu-latest

steps:
- name: Checkout Projects
uses: actions/checkout@main

- name: Maximize Build Space
uses: easimon/maximize-build-space@master
with:
root-reserve-mb: 512
swap-size-mb: 4096
build-mount-path: '/mnt/build_wrt'
remove-dotnet: 'true'
remove-android: 'true'
remove-haskell: 'true'
remove-codeql: 'true'

- name: Initialization Environment
env:
DEBIAN_FRONTEND: noninteractive
run: |
sudo -E apt -yqq purge firefox google-chrome-stable microsoft-edge-stable
sudo -E apt -yqq update
sudo -E apt -yqq full-upgrade
sudo -E apt -yqq autoremove --purge
sudo -E apt -yqq autoclean
sudo -E apt -yqq clean
sudo -E apt -yqq install dos2unix python3-netifaces libfuse-dev
sudo bash -c 'bash <(curl -sL https://build-scripts.immortalwrt.org/init_build_environment.sh)'
sudo -E systemctl daemon-reload
sudo -E timedatectl set-timezone "Asia/Shanghai"
sudo mkdir -p /mnt/build_wrt
sudo chown $USER:$USER /mnt/build_wrt
sudo ln -s /mnt/build_wrt $GITHUB_WORKSPACE/wrt
echo "=== 磁盘空间 ==="
df -h
echo "=== 内存信息 ==="
free -h

- name: Initialization Values
run: |
echo "WRT_DATE=$(TZ=UTC-8 date +"%y.%m.%d-%H.%M.%S")" >> $GITHUB_ENV
echo "WRT_MARK=${GITHUB_REPOSITORY%%/*}" >> $GITHUB_ENV
echo "WRT_TARGET=qualcommax" >> $GITHUB_ENV

- name: Clone Code
run: |
git clone --depth=1 --single-branch --branch ${{ github.event.inputs.BRANCH || 'main' }} https://github.com/VIKINGYFY/immortalwrt.git ./wrt/
cd ./wrt/ && echo "WRT_HASH=$(git log -1 --pretty=format:'%h')" >> $GITHUB_ENV
PROJECT_MIRRORS_FILE="./scripts/projectsmirrors.json"
if [ -f "$PROJECT_MIRRORS_FILE" ]; then
sed -i '/.cn\//d; /tencent/d; /aliyun/d' "$PROJECT_MIRRORS_FILE"
fi

- name: Check Scripts
run: |
find ./ -maxdepth 3 -type f -iregex ".*\(txt\|sh\)$" -exec dos2unix {} \; -exec chmod +x {} \;

- name: Check Caches
id: check-cache
if: ${{ github.event.inputs.TEST != 'true' }}
uses: actions/cache@main
with:
key: JDC-ER1-${{ env.WRT_HASH }}
restore-keys: JDC-ER1-
path: |
./wrt/.ccache
./wrt/staging_dir/host*
./wrt/staging_dir/tool*

- name: Update Feeds
run: |
cd ./wrt/
./scripts/feeds update -a
./scripts/feeds install -a

- name: Custom Settings
run: |
cd ./wrt/
cp $GITHUB_WORKSPACE/JDC-ER1-Qualcommax.txt .config
sed -i "s/luci-theme-bootstrap/luci-theme-aurora/g" $(find ./feeds/luci/collections/ -type f -name "Makefile")
sed -i "s/192\.168\.[0-9]*\.[0-9]*/192.168.10.1/g" $(find ./feeds/luci/modules/luci-mod-system/ -type f -name "flash.js")
sed -i "s/hostname='.*'/hostname='JDC-ER1'/g" ./package/base-files/files/bin/config_generate
sed -i "s/192\.168\.[0-9]*\.[0-9]*/192.168.10.1/g" ./package/base-files/files/bin/config_generate
echo "CONFIG_FEED_nss_packages=n" >> ./.config
echo "CONFIG_FEED_sqm_scripts_nss=n" >> ./.config
echo "CONFIG_PACKAGE_luci-app-sqm=y" >> ./.config
echo "CONFIG_PACKAGE_sqm-scripts-nss=y" >> ./.config
echo "CONFIG_NSS_FIRMWARE_VERSION_11_4=n" >> ./.config
echo "CONFIG_NSS_FIRMWARE_VERSION_12_5=y" >> ./.config
make defconfig -j$(nproc)
make clean -j$(nproc)

- name: Download Packages
if: ${{ github.event.inputs.TEST != 'true' }}
run: |
cd ./wrt/
make download -j$(nproc)

- name: Compile Firmware
if: ${{ github.event.inputs.TEST != 'true' }}
timeout-minutes: 360
run: |
cd ./wrt/
make -j2 || make -j1 V=s

- name: Organize Firmware
if: ${{ github.event.inputs.TEST != 'true' }}
run: |
cd ./wrt/
mkdir -p $GITHUB_WORKSPACE/firmware
